dataset/*
!dataset/.gitkeep

model/*
!model/.gitkeep

result/**/*.pt
result/**/*.pth
result/**/*.ckpt

/code/.venv/
/code/*/.venv/
/code/exp13_try_kaggle/kaggle.json

/notebooks/.venv/
/notebooks/__pycache__/
/notebooks/.ipynb_checkpoints/
/notebooks/output/

**/__pycache__/
*.py[cod]
/tmp/
